* {
  padding: 0;
  margin: 0;
}

.App {
  margin: auto;
  text-align: center;
  width: 800px;
  height: 600px;
  background-color: aliceblue;
}

h3 {
  font-size: 3.5em;
}

.banner {
  display: flex;
  font-size: 1.5em;
  justify-content: space-around;
  margin-top: 2em;
}

button {
  width: 90px;
  height: 32px;
  border: 0;
  background-color: teal;
  border-radius: 10px;
  font-size: 1.1em;
  color: aliceblue;
}

.addScore{
  display: flex;
  justify-content: flex-start;
  margin-left: 2em;
  margin-top: 2em;
}

.addScore button{
  margin-left: 1em;
}

